.paper-card {
  margin-top: 2em !important;
  padding: 2em !important;
  background-color: #ffffffb0 !important;
  transition: background-color 1s ease-out;
}

.paper-card:hover {
  background-color: #fffffff0 !important;
  transition: background-color 1s ease-out;
}

.blog-post-container .image-div {
  text-align: center;
}

.blog-post pre {
  padding: 1rem;
  background-color: #d3d3d35c;
  border-radius: 0.25rem;
}
